@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Sarabun", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Sarabun", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-family: 'Sarabun', sans-serif;
  }
}

@layer utilities {
  @keyframes scan {
    0% { top: 0%; }
    50% { top: 100%; }
    100% { top: 0%; }
  }
  .animate-scan-line {
    animation: scan 2s linear infinite;
  }
}
